name: CI ML Training Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run training
      run: python train.py

    - name: Job Summary
      run: |
        echo "## ML Experiment Summary" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Varun Mohan" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0034" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        cat output/results/metrics.json >> $GITHUB_STEP_SUMMARY

    - name: Upload model
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: output/model/model.pkl

    - name: Upload metrics
      uses: actions/upload-artifact@v4
      with:
        name: evaluation-metrics
        path: output/results/metrics.json
